html {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

#card-array {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  border: 1px solid black;
  margin: auto;
  height: auto;
}

#buttons button {
  width: 150px;
  height: 150px;
  margin: auto;
  font-size: 2rem;
  /* background: black; */
}

.face-down {
  background: black;
}

.face-up {
  background: white;
}
