html {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

#card-array {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

#buttons button {
  width: 150px;
  height: 150px;
  margin: 2px;
  font-size: 2rem;
  /* background: black; */
}

.face-down {
  background: black;
}

.face-up {
  background: white;
}

#reset {
  width: 50px;
  height: 30px;
}
